<template>
  <div>
    <h3>Famous Quotes</h3>
    <ul>
      <li v-for="quote in quotes" :key="quote.id">
        <p><cite>{{ quote.quote }}</cite> by {{ quote.name }}.</p>
      </li>
    </ul>
  </div>
</template>

<script>

//const axios = require('axios');
import axios from 'axios';

export default {
  name: 'getQuote',
  data () {
    return {
      quotes: ''
    }
  },
  mounted: function () {
    
    //axios.get('http://localhost:3000/quotes')
    axios.get('http://localhost:3000/quotes')
        .then(function (response) {
          this.quotes = response.data
            //console.log(response)
        }.bind(this))
        .catch(function (error) {
            console.log(error.message);
        })
  },
  methods: {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>