<template>

    <nav class="navbar container " role="navigation" aria-label="main navigation" >
      <ul class="navbar-brand" level>
        <li class="navbar-item">
         
          <!-- <a class="navbar-link"> -->
            <router-link to="/home" class="nav-link level-item" active-class="active" exact style="cursor: pointer">Home</router-link>
          <!-- </a> -->
          
        </li>
      
        <li class="navbar-item">
         
          <!-- <a class="navbar-link"> -->
            <router-link to="/quotes" class="nav-link level-item" active-class="active" exact style="cursor: pointer">Quotes</router-link>
          <!-- </a> -->
          
        </li>
        <li class="navbar-item">
          
          <!-- <a class="navbar-link"> -->
            <router-link to="/submit" class="nav-link level-item" active-class="active" exact style="cursor: pointer">Submit a Quote</router-link>
          <!-- </a> -->
         
        </li>
        <li class="navbar-item">
          
          <!-- <a class="navbar-link"> -->
            <router-link to="/update" class="nav-link level-item " active-class="active" exact style="cursor: pointer">Update a Quote</router-link>
          <!-- </a> -->
          
        </li>
        <li class="navbar-item">
         
          <!-- <a class="navbar-link"> -->
            <router-link to="/delete" class="nav-link level-item" active-class="active" exact style="cursor: pointer">Delete a Quote</router-link>
          <!-- </a> -->
        
        </li>

  
     
      </ul>
    </nav>


</template>


<script>
export default {
  name: 'navigation',
  data () {
    return {
    }
  },
  methods: {
  }
}
</script>
