<template>
  <div>
    <h3>Submit Quote</h3>
    <form>
        <div>
            <label>Name</label>
            <input type="text" v-model="qname" id="qname" placeholder="Enter Name" name="qname" required>
        </div>
        <div>
            <label>Quote</label>
            <input type="text" v-model="qquote" id="qquote" placeholder="Enter Quote" name="qquote" required>
        </div>
        <div>
            <button @click.prevent="submit2">Submit</button>
        </div>
        {{qname}}
        <br>
        {{qquote}}
        
    </form>
  </div>
</template>



<script>
import axios from 'axios';

export default {
  name: 'subQuote',
  data () {
    return {
      qname:'',
      qquote:'',
    }
  },
  
    methods :{
      submit2 : function() { 
        console.log(this.qname)
        console.log(this.qquote)
        //const config = { headers: { 'Content-Type': 'multipart/form-data' } };
        //const config = { headers: { 'Content-Type': 'application/json' } };
        //const config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded' } };

        axios.post('http://localhost:3000/quotes', {
          
         // data: {
            name:this.qname,
            quote:this.qquote,
          //},
          //'Content-Type': 'application/json'
          // headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
        },
        //config
        )
        .then(function (response) {
            console.log(response);
           
        })
        .catch(function (error) {
            console.log(error.message);
        })
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>