<template>
  <div>
    <h3>Update Quote</h3>
    <form>
        <div>
            <label>Whose Quote to update</label>
            <input v-model="name" id="name" placeholder="Enter Name" required>
        </div>
        <div>
            <label>New Quote</label>
            <input v-model="quote" id="quote" placeholder="Enter Quote" required>
        </div>
        <div>
            <button v-on:click.prevent="submit()">Submit</button>
        </div>
    </form>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  name: 'updQuote',
  data () {
    return {
      name:'',
      quote:'',
    }
  },
  methods: {
    submit : function() { 
        
        axios.post('http://localhost:3000/upd', {
          
         // data: {
            name:this.name,
            quote:this.quote,
          //},

        })
        .then(function (response) {
            console.log(response);
        })
        .catch(function (error) {
            console.log(error.message);
        })
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>