<script>
import axios from 'axios';
import modal from './Modal.vue';
import router from "../router";

  export default {
    name: 'delmodal',
    components:{
        modal,
    },
    data(){
        return {

    }
    },
    props: ['show','id'],
    methods: {
      close: function () {
          
      this.$emit('close');
    },
     submit2 : function() { 
        
        axios.post('http://localhost:3000/delete', {
          
         // data: {
            id:this.id,
          //},

        })
        .then( (response)=> {
            console.log(response);
            this.$emit('del',this.id)
            this.id = ''
            this.close();
        })
        .catch(function (error) {
            console.log(error.message);
        })
    },
    },
    mounted: function () {
    document.addEventListener("keydown", (e) => {
      if (this.show && e.keyCode == 27) {
        this.close();
      }
    });
  }
  };
</script>

<template>
    <modal :show="show" @close="close">
        <div class="modal-header">
            <h3>Are you sure you want to delete this quote?{{id}}</h3>
        </div>
        <!-- <div class="modal-body">
            <label class="form-label">Name
                <input class="form-control" type="text" v-model="qname" id="qname" placeholder="Enter Name" name="qname" required>
            </label>
            <label class="form-label">
                Quote

                <input class="form-control"  type="text" v-model="qquote" id="qquote" placeholder="Enter Quote" name="qquote" required>
            </label>
        </div> -->

        <div class="modal-footer  container">
            <!-- <button class="modal-default-button" @click="submit2"> -->
            <div class="buttons container">
                <a class="button is-success" @click="submit2">
                    <span class="icon is-small">
                    <i class="fas fa-check"></i>
                    </span>
                 </a>
                <a class="button is-danger is-outlined" @click="close">
                    <span class="icon is-small">
                    <i class="fas fa-times"></i>
                    </span>
                </a>
        </div>
    </div>
    </modal>
</template>

<style>
.buttons{
    margin: 0 auto;
}

</style>