<script>
import axios from 'axios';
import modal from './Modal.vue';
import router from "../router";

  export default {
    name: 'editmodal',
    components:{
        modal,
    },
    data(){
        return {
        qquote:'',
        prev:''
    }

    },
    props: ['show','id','prevq'],
    methods: {
      close: function () {
      this.qquote='';
      this.$emit('close');
    },
      submit2 : function() { 

          let self=this;
        let q=this.qquote;
            if(q===undefined || q===null || q==""){
            // this.close();
            alert("undef");
            this.close();
            return;
        }

        axios.post('http://localhost:3000/update', {

         // data: {
            id:this.id,
            quote:this.qquote,
          //},

        })
        .then( (response) => {
            
            self.close();
            self.$emit('update', this.id , response.data)

        })
        .catch(function (error) {
            console.log(error.message);
        })
    },
    },
    mounted: function () {
    document.addEventListener("keydown", (e) => {
      if (this.show && e.keyCode == 27) {
        this.close();
      }
    });
  },


  };
</script>

<template>
    <modal :show="show" @close="close">
        <div class="modal-header">
            <h3>Update this quote</h3>
        </div>
        <div class="modal-body">
            <label class="form-label">
                New quote {{prevq}}
                <input class="form-control"  type="text" v-model="qquote" id="qquote" :placeholder="prevq"  name="qquote" required>
            </label>
        </div>
        <div class="modal-footer text-right">
            <button class="modal-default-button" @click="submit2">
                Save
            </button>
        </div>
    </modal>
</template>

<style>

</style>