<template>
  <div class="container">
    <table class="table  is-hoverable container  " id="tbl">
  <thead>
    <tr class="level container">
        <!-- <div class="control"> -->
      <th class="level-item ">Author</th>
      <th class="level-item ">Quote</th>
        <!-- </div> -->
      <!-- <div class="control"> -->
      <th class="level-item "><button @click="showSubModal = true" class="button  is-success is-outlined  level-item">Add a famous Quote!</button></th>
      <!-- </div> -->

    </tr>
  </thead>
  <tbody class="column">
      <!-- <tr v-for="quote in quotes" class="level container" > 
        <td v-for="value in quote" class="level-item ">
          {{value}}
        </td>

      
      <td class="level-item">
        <div id="contl" class="field has-addons">
        <div class="control">
          <button @click="showNewPostModal = true" class="button is-warning is-rounded">Edit</button>
        </div>
        <div class="control">
          <button @click="showNewPostModal = true" class="button is-danger is-rounded">Delete</button>
        </div>
        </div>
      </td>
    </tr> -->
    

    <tr v-for="quote in quotes" :key="quote.id" class="level container" > 
        <td  class="level-item ">
          {{quote.name}}
        </td>
        <td  class="level-item ">
          <!-- <span :quote="quote.quote" @:update:quote="quote.quote = $event">   {{quote.quote}}  </span> -->
          <span  @:update="handleEdit()">   {{quote.quote}}  </span>
          <!-- {{quote.quote}} -->
        </td>
        <input type="hidden" :id=quote.id  :name=quote.id :value=quote.id >

      
      <td class="level-item">
        <div id="contl" class="field has-addons">
        <div class="control">
          <!-- <button @click="showEditModal = true; clickedItem=quote.id; prevq=quote.qquote"  class="button is-warning is-rounded">Edit</button> -->
          <button @click="handler(true,quote.id,quote.quote)"  class="button is-warning is-rounded">Edit</button>
        </div>
        <div class="control">
          <button @click="showDelModal = true; clickedItem=quote.id" class="button is-danger is-rounded">Delete</button>
        </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<pre> {{$data}} </pre>

<submodal :show="showSubModal" @add="addQuote" @close="showSubModal = false"></submodal>
<editmodal :show="showEditModal" @update="editEvent" :id="clickedItem" :prevq="prevq" @close="showEditModal = false"></editmodal>
<delmodal :show="showDelModal" @del="delQuote" :id="clickedItem" @close="showDelModal = false"></delmodal>

  </div>
  
</template>

<script>
import axios from 'axios';
import modal from './Modal.vue';
import submodal from './SubModal.vue';
import editmodal from './EditModal.vue';
import delmodal from './DelModal.vue';

export default {
  name: "Main",
  components: {
    modal,
    submodal,
    editmodal,
    delmodal
  },
  data(){
    return {
      showSubModal: false,
      showEditModal: false,
      showDelModal: false,
      clickedItem:'',
      prevq:'',
      quotes: ''
      };
  },
  mounted: function () {
    
    axios.get('http://localhost:3000/quotes')
        .then(function (response) {
          this.quotes = response.data
            //console.log(response)
        }.bind(this))
        .catch(function (error) {
            console.log(error.message);
        })
  },
  methods: {
    handler:function(arg1,arg2,arg3){
      this.showEditModal = arg1;
       this.clickedItem=arg2;
        this.prevq=arg3
    },
    handleEdit(val){
      alert("value updated "+val)
    },
    addQuote ( id, name, quote ) {
      this.quotes.push({
      id: id,
      name: name,
      quote: quote,
    })
    },
    delQuote(idd){
      let t =this.quotes.findIndex( q => q.id==idd);
      this.quotes.splice(t,1);
    },
    editEvent( idd, q ){
      let t =this.quotes.findIndex( d => d.id==idd);
      this.quotes[t].quote=q;
    }
    },
};
</script>

<style scoped>
th{
    text-align: center;
    border: none;
}
.level-left >th{
  display: inline-block;
}
tr>div{
  display: inline-block;
}
/* td >button{
  margin: 0 auto;
} */
table{

}
td{
  border: none;
  text-align: center
}
tr{
  border-bottom: 1px dotted black
}

</style>