<template>
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/quotes">Quotes</router-link> |
      <router-link to="/submit">Submit</router-link> |
      <router-link to="/delete">Delete</router-link> |
      <router-link to="/update">Update</router-link>
    </div>
</template>


<script>
export default {
  name: "navigation",
  data () {
    return {}
  },
  methods: {}
}
</script>

<style>
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>