<script>
import axios from 'axios';
import modal from './Modal.vue';
import router from "../router";

  export default {
    name: 'submodal',
    components:{
        modal,
    },
    data(){
        return {
            id:"",
            qname:'',
            qquote:'',
        }
    },
    props: ['show'],
    methods: {
      close: function () {
      this.qname = '';
      this.qquote = '';
      this.$emit('close');
    },
      submit2 : function() { 
        console.log(this.qname)
        console.log(this.qquote)

        // if(q===undefined || q===null || q==""){

            
        // }
        axios.post('http://localhost:3000/quotes', {
            name:this.qname,
            quote:this.qquote,
        },
        )
        .then( (response)=> {
            console.log(response);
            this.$emit('add',response.data, this.qname, this.qquote)
            this.id = ''
            this.qname = ''
            this.qquote = ''
            this.close();
            //  router.go('/')
        })
        .catch(function (error) {
            console.log(error.message);
        })
        
    },
    },
    mounted: function () {
    document.addEventListener("keydown", (e) => {
      if (this.show && e.keyCode == 27) {
        this.close();
      }
    });
  }
  };
</script>

<template>
    <modal :show="show" @close="close">
        <div class="modal-header">
            <h3>Submit your quote</h3>
        </div>
        <div class="modal-body">
            <label class="form-label">Name
                <!-- <input v-model="title" class="form-control"> -->
                <input class="form-control" type="text" v-model="qname" id="qname" placeholder="Enter Name" name="qname" required>
            </label>
            <label class="form-label">
                Quote
                <!-- <textarea v-model="body" rows="5" class="form-control">
                </textarea> -->
                <input class="form-control"  type="text" v-model="qquote" id="qquote" placeholder="Enter Quote" name="qquote" required>
            </label>
            
        </div>
        <div class="modal-footer text-right">
            <button class="modal-default-button" @click="submit2">
                Save
            </button>
        </div>
    </modal>
</template>

<style>


</style>